body {
	font-family: courier;
	font-size: 20px;
	background-color:black; 
}

a {
	color:lightblue;
	text-align: center; 
	padding-left:50px;

}

* {
	outline:;
}
.container {
	display:flex;
	flex-wrap:wrap;
}

.item {
	display:flex;
	flex-wrap:wrap;

}

.item img {
	width:100%;

}

.w1of1 {
	width:100%;
}

.w1of2 {
	width:50%;
	display:flex;
	flex-wrap:wrap;
}

.w1of4 {
	width:25%;
}

.w2of4 {
	width:50%;
}

.w3of4 {
	width:75%;
}

.w4of4 {
	width:100%;
}

.w1of3 {
	width:33.33%; 
}

.w2of3 {
	width:100%;
}

.w3of3 {
	width:100%;
}

/*top*/

.top {
	background-color:lightgrey;
	font-family: courier;
	color:white;
	text-align: center; 
	display:flex;
	flex-wrap:wrap;
  width: 200px;
  height:50px;
  background-color: black;
  /*   add your animation name and settings here */
  animation-name:spinUG;
  animation-duration:8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/*   add your starting state and your end state  */
@keyframes spinUG {
  
  from {
    width:50px;
  }
  
  to {
    width:2000px;
  }
}

/*Title1*/

.title1 {
	background-color:black;
	font-family: Courier;
	font-style:italic;
	text-transform:capitalize;  
	color:white;
	font-size:100px;
	text-align:center; 
	text-shadow:100px 60px 100px grey;  
	padding-top:25px; 

	 
}

.title1 {
	background-color:black;
	font-family: Courier;
	font-style:italic;
	text-transform:capitalize;  
	color:white;
	font-size:100px;
	text-align:center; 
	text-shadow:5px 5px 5px grey;  
	padding-top:25px; 
	text-align: center;
}

/*popstars*/

.popstars { 
	background-color:black; 
	align-items:center;
	display:flex;
	flex-wrap:wrap; 
}


/*Title2*/

.title2 {
	background-color:black; 
	height:100px;
	display:flex;
	flex-wrap:wrap;  
	padding-bottom:100px; 
}

/*favourite*/
 
.favourite {
	background-color:black; 
	font-family: courier;
	font-size:50px;
	color:white;
	text-align:center;  
	display:flex;
	flex-wrap:wrap; 
	padding-left:200px;
	text-shadow:5px 5px 5px grey; 
}

/*slide in essay*/
.menu {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

.menu:hover {
  background-color: grey;
}

.close {
  width: 75px;
  height: 75px;
  background-color: red;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
  display: none;
}

.close.show {
  display: block;
}

.close:hover {
  background-color: lightblue;
}

.essay {
  width: 50%;
  height: 100vh;
  overflow: scroll;
  font-family: courier;
  position: fixed;
  background-color: pink;
  right: 0;
  top: 0;
  z-index: 2;
  margin-right: -50%;
  transition: 1s;
}

.essay.slide {
  margin-right: 0;
  transition: 1s;
}

.essay h1 {
  font-size: 36px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 100px;
}

.essay p {
  font-size: 24px;
  padding: 24px;
}

/*Marylin Monroe*/

.marylinV video {
	margin-top: 250px;
	padding-left:450px; 
	padding-top:500px;
	padding-bottom:20px; 
	color:white;
	text-align:center; 
	display:-webkit-flex;
}


/*start pink*/

.background {


}

.background.one {
	background-color:lightpink;
}

.background.two {
	background-color:lightpink;
}

.background.three {
	background-color:lightpink;

}

.background.four {
	background-color:lightpink;
}

.background.five {
	background-color:lightpink;
}


.middle {
	color:white;
}

.middle.one {
	transform:skew(30deg);
}

.middle.two {
	transform:skewY(20deg);
}

.middle.three {
	transform:skewX(30deg);
}

.middle.four {
	
}

.text {
	text-align:center; 
}

.text.one {
	color:lightpink;
	text-shadow:5px 5px 5px hotpink; 
	font-size: 50px;
}

.text.two {
	color:hotpink;
	font-size:100px;
	text-shadow:5px 5px 5px hotpink; 

}

.text.three {
	color:lightpink;
	text-shadow:5px 5px 5px hotpink; 
	font-size:50px; 
}

.text.four {
	color:hotpink;
	text-shadow:5px 5px 5px hotpink; 
	font-size:100px;
}

.text.five {
	color:lightpink;
	text-shadow:5px 5px 5px hotpink; 
	font-size:50px;
}

/*end pink*/

/*start talking*/

.help:hover {
	background-color:lightpink;
	font-family: courier;
	font-size:80px;
	text-align:center; 
	padding-bottom:50px; 
}

/*michael*/

.michael video {
	background-color:black;
	padding-bottom:20px;
	padding-left:500px;
	padding-right:500px; 
	display:-webkit-flex;
}

/*below lightblue*/

.background2 {
	background-color: lightblue;

}

.background2.one {
	background-color: lightblue;
}

.background2.two {
	background-color: lightblue;

}

.background2.three {
	background-color: lightblue;

}

.background2.four {
	background-color: lightblue;
}

.background2.five {
	background-color: lightblue;
}

.middle2 {
	color:white;
}

.middle2.one {
	transform:skew(30deg);
}

.middle2.two {
	transform:skewY(20deg);
}

.middle2.three {
	transform:skewX(30deg);
}

.middle2.four {
	
}

.text2 {
	text-align: center;
}

.text2.one {
	color: lightblue;
	text-shadow: 5px 5px 5px darkblue;
	font-size: 100px;
}

.text2.two {
	color: darkblue;
	text-shadow: 5px 5px 5px darkblue;
	font-size: 50px;
}

.text2.three {
	color:lightblue;
	text-shadow: 5px 5px 5px darkblue;
	font-size: 100px;
}

.text2.four {
	color:lightblue;
	text-shadow: 5px 5px 5px darkblue;
	font-size: 50px;
}

.text2.five {
	color:lightblue;
	text-shadow: 5px 5px 5px darkblue;
	font-size: 100px;
}
/*lightblue*/

.lightblue {
	background-color:black;
	font-family: courier;
	font-size:80px;
	text-align:center;
}

.lightblue img {
	padding-top:150px; 
	width:200px;
	height:600px;
}
.lightblue:hover {
	background-color:lightblue;
	font-family: courier;
	font-size:80px;
	text-align:center;
}

/*robin*/
.robin video {
	padding-left:500px; 
	padding-bottom:20px; 
	color:white;
	text-align:center; 
	display: -webkit-flex;
}
/*robin talking*/

.background3 {
	background-color: lightgreen;

}

.background3.one {
	background-color: lightgreen;
}

.background3.two {
	background-color: lightgreen;

}

.background3.three {
	background-color: lightgreen;

}

.background3.four {
	background-color: lightgreen;
}

.background3.five {
	background-color: lightgreen;
}

.middle3 {

}

.middle3.one {
	transform:skew(30deg);
}

.middle3.two {
	transform:skewY(20deg);
}

.middle3.three {
	transform:skewX(30deg);
}

.middle3.four {
	
}

.text3 {
	text-align: center;
}

.text3.one {
	color: darkgreen;
	text-shadow: 5px 5px 5px lightgreen;
	font-size: 100px;
}

.text3.two {
	color: lightgreen;
	text-shadow: 5px 5px 5px darkgreen;
	font-size: 50px;
}

.text3.three {
	color:lightgreen;
	text-shadow: 5px 5px 5px darkgreen;
	font-size: 100px;
}

.text3.four {
	color:lightgreen;
	text-shadow: 5px 5px 5px darkgreen;
	font-size: 50px;
}

.text3.five {
	color:lightgreen;
	text-shadow: 5px 5px 5px darkgreen;
	font-size: 100px;
}

/*ghost*/

.ghost:hover {
    background-color: lightgreen;
  	font-family: courier;
	font-size:80px;
	text-align:center; 
	padding-top: 50px;
}

/*green*/

.green {
	background-color: black;
	font-family: courier;
	color:white;   
	background-color:lightgrey;
	font-family: courier;
	color:white;
	text-align: center; 
	display:flex;
	flex-wrap:wrap;
  width: 200px;
  height:50px;
  background-color: black;
  /*   add your animation name and settings here */
  animation-name:spinUG;
  animation-duration:8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/*   add your starting state and your end state  */
@keyframes spinUG {
  
  from {
    width:50px;
  }
  
  to {
    width:2000px;
  }



